* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(images/fish.png) no-repeat center center/cover;
}

.main-container {
  width: 30vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 72, 228);
  border-radius: 10px;
}

.button-container {
  padding: 20px;
}

#cronometer {
  width: 100%;
  font-size: 4em;
  font-weight: bold;
  user-select: none;
  font-family:'Noto Sans', sans-serif;
}

.boton {
  width: 80px;
  height: 80px;
  font-size: 20px;
  margin: 10px;
  padding: 25px;
}




#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
  background-color: rgb(124, 255, 24);
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
  background-color: yellow;
}

#boton-reiniciar {
  background-color: red;
}
